# Only allow pnpm install to operate on current package. [https://pnpm.io/npmrc#recursive-install]
recursive-install = false

# A value of 0 allows for as many parallel tasks as there are CPU cores on the host system. [https://pnpm.io/cli/recursive#--workspace-concurrency]
workspace-concurrency = 0

# If this is enabled, pnpm will not install any package that claims to not be compatible with the current Node version. [https://pnpm.io/npmrc#engine-strict]
engine-strict = true

# Saved dependencies will be configured with an exact version rather than using pnpm's default semver range operator. [https://pnpm.io/cli/add#--save-exact--e]
save-exact = true

# Hoists dependencies matching the pattern to the root modules directory. Default: ['*eslint*', '*prettier*']. [https://pnpm.io/npmrc#public-hoist-pattern]
public-hoist-pattern[] = []