:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  gap: 14px;
}

span {
  font-family: monospace;
  background-color: #242424;
  color: #d3d3d3;
  padding: 4px 2px;
  line-break: anywhere;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.1);
}
